spawn-at-startup "waybar" "-c" ".config/waybar/configbottom.jsonc" "-s" ".config/waybar/stylebottom.css"
spawn-at-startup "waybar"

gestures {
    hot-corners {
        off
    }
}

layout {
    gaps 8
    background-color "#0e0e0e"
    always-center-single-column false
    center-focused-column "always"

    preset-column-widths {
        proportion 0.4
        proportion 0.5
        proportion 0.6
        proportion 0.7
        proportion 0.8
        proportion 0.9
    }

    default-column-width { proportion 0.9; }

    focus-ring {
        // off
        width 1
        active-color "#ffffff33"
    }

    border {
        on
        width 1
        active-color "#ebdbb266"
        inactive-color "#0e0e0e"
    }

    shadow {
        on
        softness 10
        spread 3
        offset x=0 y=5
    }

    tab-indicator {
        width 2
        gap -5
        gaps-between-tabs 5
        corner-radius 10
        active-color "#fff"
        inactive-color "#ffffff55"
    }

    insert-hint {
        color "#ffffff22"
    }
}

prefer-no-csd

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    window-open {
        spring damping-ratio=1.0 stiffness=700 epsilon=0.0001
    }
    window-close {
        spring damping-ratio=1.0 stiffness=700 epsilon=0.1
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
    workspace-switch {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.00001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=700 epsilon=0.0001
    }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

binds {
    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T { spawn "kitty"; }
    Mod+Q { spawn "firefox"; }
    Mod+R { spawn "wofi" "--show" "drun" "--prompt" "Find..."; }
    Mod+X { spawn "wofi-emoji"; }
    Mod+L { spawn "hyprlock"; }
    Mod+E { spawn "nautilus"; }
    Mod+Escape { spawn "nwg-bar"; }
    Mod+N { spawn "swaync-client" "-t"; }
    Mod+Z { spawn "waypaper"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }

    // Example brightness key mappings for brightnessctl.
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+W repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+D { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+Tab { focus-workspace-previous; }

    Mod+Shift+S { spawn "flameshot" "gui"; }

    Mod+Shift+Alt+R { spawn "ignis" "run-command" "recorder-record-screen"; }
    Mod+Alt+R { spawn "ignis" "run-command" "recorder-record-portal"; }
}

overview {
    backdrop-color "#000"
    zoom 0.5
}

hotkey-overlay {
    skip-at-startup
}

spawn-at-startup "swaybg"
spawn-at-startup "swww-daemon"

// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

//spawn-at-startup "waybar" "-c" ".config/waybar/config3.jsonc" "-s" ".config/waybar/style3.css"
//spawn-at-startup "waybar" "-c" ".config/waybar/config2.jsonc" "-s" ".config/waybar/style2.css"
